<!DOCTYPE html>
<html lang="en">
<head><title><%= title %></title>
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">
 <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
 <style>
      body {
        padding-top: 60px;
      }
      p#profilepic {
       background-position: center 25%;
       width: 64px;
       height: 64px;
      }
 </style>
 <script src="/scripts/jquery-1.7.2.min.js"></script>
 <script src="/scripts/bootstrap.min.js"></script>

</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Friendcare</a>
        <div class="nav-collapse">
          <ul class="nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span12" id="listing">
          <div class="row-fluid">
            <div class="span6">
	      <a href="http://www.facebook.com/<%= facebook.userid %>" target="_blank">
              <p id="profilepic" style="background-image: url(https://graph.facebook.com/me/picture?type=normal&amp;access_token=<%= facebook.authtoken %>)"></p>
              </a>
              <h3>At the moment we know about <%= facebook.friendlist.length %> friends of yours.<h3>
            </div>
          </div>
	  <% if (changes.length > 0) { %>
	  <div class="row-fluid">
	    <div class="span6"><h2>Gained</h2></div>
	    <div class="span6"><h2>Lost</h2></div>
	  </div>
	    <% for (var c = 0; c < changes.length; c++) { %>
	     <h2><%= changes[c].date %></h2>
	     <div class="row-fluid">
	       <div class="span6 well">
		 <% for (var g = 0; g < changes[c].gain.length; g++) { %>
		    <a href="https://www.facebook.com/<%=  changes[c].gain[g] %>" target="_blank"><img src="https://graph.facebook.com/<%=  changes[c].gain[g] %>/picture"></a><br>
		 <% } %>
	       </div>
	       <div class="span6 well">
		 <% for (var x = 0; x < changes[c].loss.length; x++) { %>
		    <a href="https://www.facebook.com/<%=  changes[c].loss[x] %>" target="_blank"><img src="https://graph.facebook.com/<%=  changes[c].loss[x] %>/picture"></a><br>
		 <% } %>
	       </div>
	     </div>
	    <% } %>
	  <% } %>
	</div>
      </div>
      <hr>
    </div><!--/.fluid-container-->

</body>
</html>
