  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Friendcare</a>
        <div class="nav-collapse">
          <ul class="nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span12" id="listing">
          <div class="row-fluid">
            <div class="span6">
              <a class="thumbnail" style="width: 100px;" href="http://www.facebook.com/<%= thisuser.userid %>" target="_blank"><img src="https://graph.facebook.com/<%= thisuser.userid %>/picture?type=normal"></a>
              <h3>At the moment we know about <%= thisuser.friendcount %> friends of yours.<h3>
            </div>
          </div>
	  <% if (dates.length > 0) { %>
	    <% for (var c = 0; c < dates.length; c++) { %>
	     <h2><span class="dateAndTime"><%= dates[c] %></span></h2>
	     <div class="row-fluid">
	       <div class="span6">
	         <% if (grouped[dates[c]].gain.length > 0) { %>
	         <h3>Gained</h3>
	         <% } %>
		 <% for (var g = 0; g < grouped[dates[c]].gain.length; g++) { %>
		    <a href="https://www.facebook.com/<%=  grouped[dates[c]].gain[g] %>" target="_blank"><img src="https://graph.facebook.com/<%=  grouped[dates[c]].gain[g] %>/picture" class="smallprofile thumbnail"></a>
		 <% } %>
	       </div>
	       <div class="span6">
	         <% if (grouped[dates[c]].loss.length > 0) { %>
	         <h3>Lost</h3>
	         <% } %>
		 <% for (var x = 0; x < grouped[dates[c]].loss.length; x++) { %>
		    <a href="https://www.facebook.com/<%=  grouped[dates[c]].loss[x] %>" target="_blank"><img src="https://graph.facebook.com/<%=  grouped[dates[c]].loss[x] %>/picture" class="smallprofile"></a>
		 <% } %>
	       </div>
	     </div>
	    <% } %>
	  <% } else { %>
	  <h2>There are no changes to your friend list just yet.</h2>
	  <em>When there will be, it is going to be listed here.</em>
	  <% } %>
	</div>
      </div>
      <hr>
    </div><!--/.fluid-container-->

