  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Friendcare</a>
        <div class="nav-collapse">
          <ul class="nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span12" id="listing">
          <div class="row-fluid">
            <div class="span6">
              <a class="thumbnail" style="width: 100px;" href="http://www.facebook.com/<%= thisuser.userid %>" target="_blank"><img src="https://graph.facebook.com/<%= thisuser.userid %>/picture?type=normal"></a>
              <h3>At the moment we know about <a href="https://www.facebook.com/me/friends" target="_blank"><%= thisuser.friendcount %></a> friends of yours.</h3> Last updated <%= lastcheck %>.
            </div>
          </div>
	  <% if (dates.length > 0) { %>
	    <% for (var c = 0; c < dates.length; c++) { %>
	     <h2><span class="dateAndTime"><%= dates[c] %></span></h2>
	     <div class="row-fluid">
	         <% if (grouped[dates[c]].gain.length > 0) { %>
		 <div class="span6 well">
	         <h2>Gained</h2>
                 <ul class="thumbnails">
		 <% for (var g = 0; g < grouped[dates[c]].gain.length; g++) { %>
		    <li><a href="https://www.facebook.com/<%=  grouped[dates[c]].gain[g] %>" target="_blank" class="smallprofile thumbnail"><img src="https://graph.facebook.com/<%=  grouped[dates[c]].gain[g] %>/picture?type=normal&return_ssl_resources=1"></a><div class="caption"><p align="center" style="padding: 5px;"><a href='https://www.facebook.com/<%=  grouped[dates[c]].gain[g] %>' target="_blank" class="btn btn-primary">Profile</a></p></div></li>
		 <% }%>
                 </ul>
	         <% } else { %>
		 <div class="span6">
		 <% }%>
	       </div>
	         <% if (grouped[dates[c]].loss.length > 0) { %>
	         <div class="span6 well">
	         <h2>Lost</h2>
                 <ul class="thumbnails">
		 <% for (var x = 0; x < grouped[dates[c]].loss.length; x++) { %>
		    <li><a href="https://www.facebook.com/<%=  grouped[dates[c]].loss[x] %>" target="_blank" class="smallprofile thumbnail"><img src="https://graph.facebook.com/<%=  grouped[dates[c]].loss[x] %>/picture?type=normal&return_ssl_resources=1"></a><div class="caption"><p align="center" style="padding: 5px;"><a href='https://www.facebook.com/<%=  grouped[dates[c]].loss[x] %>' target="_blank" class="btn btn-primary">Profile</a></p></div></li>
		 <% } %>
                 </ul>
	         <% } else { %>
		 <div class="span6">
		 <% }%>
	       </div>
	     </div>
	    <% } %>
	  <% } else { %>
	  <h2>There are no changes to your friend list just yet.</h2>
	  <em>When there will be, it is going to be listed here.</em>
	  <% } %>
	</div>
      </div>
      <hr>
    </div><!--/.fluid-container-->

