<!DOCTYPE html>
<html lang="en">
<head><title><%= title %></title>
 <meta property="og:title" content="<%= title %>" />
 <meta property="og:type" content="website" />
 <meta property="og:url" content="https://friendcare.herokuapp.com" />
 <meta property="og:image" content="https://friendcare.herokuapp.com/img/logo.png?v2" />
 <meta property="og:site_name" content="Friendcare" />
 <meta property="og:description" content="Follow your friending and de-friending to take better care of those who matter to you the most." />
 <meta property="fb:admins" content="36800015" />
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">
 <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
 <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
 <style>
      body {
        padding-top: 60px;
        font-family: 'Crimson Text', Helvetica, Arial, sans-serif;
      }
      p#profilepic {
        background-position: center 25%;
        width: 64px;
        height: 64px;
      }
      .smallprofile {
        width: 100px;
      }
 </style>
 <script src="/scripts/jquery-1.7.2.min.js"></script>
 <script src="/scripts/bootstrap.min.js"></script>

 <!-- Google Analytics -->
 <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12127510-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 </script>
</head>
<body>
<%- body %>

<!-- Facebook -->
<div id="fb-root"></div>
<script src='http://connect.facebook.net/en_US/all.js'></script>
<script>
    FB.init({
      appId      : '<%= myapp.id %>', // App ID
      channelUrl : '//<%= req.headers.host %>/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
</script>
<!-- Facebook end -->

<footer align=center>
<div style="width: 500px;" class="fb-like" data-href="https://friendcare.herokuapp.com" data-send="true" data-width="500" data-show-faces="true" data-action="like"></div>
<div class="credits">2012 by <a href="http://gergely.imreh.net" target="_blank">GI</a></div>
</footer>
</body>
</html>
